<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <robotsmetatag>
            <default>
                <pro_metaoption>INDEX,FOLLOW</pro_metaoption>
                <cat_metaoption>INDEX,FOLLOW</cat_metaoption>
            </default>
        </robotsmetatag>
    </default>
</config>